.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 1025px) {

  .content {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  .textContainer {
    width: 500px;
    font-size: 20px;
  }

}


@media (max-width: 1024px) and (min-width: 481px) {

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 0 12%;
  }

  .visualization {
    margin-top: 40px;
  }

}


@media (max-width: 480px) {

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 0 12%;
  }

  .visualization {
    margin-top: 40px;
  }

}