/* common rules */
.container {
  width: 100%;
}

.content {
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

/* desktop view */
@media (min-width: 1025px) {
  .content {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }
  .panelWrapper {
    width: 260px;
    height: 380px;
  }
  .buttonContainer {
    margin-top: 80px;
  }
}

/* tablet view */
@media (max-width: 1024px) and (min-width: 480px) {
  .content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .panelWrapper {
    width: 80%;
    margin-bottom: 50px;
  }
}

/* mobile view */
@media (max-width: 480px) {
  .content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .panelWrapper {
    width: 90%;
    margin-bottom: 40px;
  }
}