.container {
  z-index: calc(var(--scrollableCanvasZIndex) + 1);
  position: absolute;
}

.fade {
  opacity: var(--opacity, 1);
  transition: opacity 0.5s ease-in-out;
}

.title, .subtitle, .itemTitle, .container p {
  text-shadow: var(--blackShadow);
}

.title , .subtitle {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}



/* desktop view */
@media (min-width: 1025px) {

  .container {
    width: 600px;
    top: 0;
    right: 8%;
    padding: 150px 0;
  }

  .title {
    font-size: 36px;
    text-align: center;
  }
  .subtitle {
    font-size: 24px;
    margin-bottom: 80px;
    text-align: center;
  }

  .itemTitle {
    font-size: 28px;
  }

}


/* tablet view */
@media (max-width: 1024px) and (min-width: 481px) {

  .container {
    position: absolute;
    top: 5%;
    width: 80%;
    padding: 120px 10%;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
  }

  .itemTitle {
    font-size: 24px;
  }
}


/* mobile view */
@media (max-width: 480px) {

  .container {
    width: 320px;
    top: 8%;
    width: 86%;
    padding: 80px 7%;
  }

  .title {
    font-size: 24px;
    text-align: center;
  }
  .subtitle {
    font-size: 14px;
    margin-bottom: 50px;
    text-align: center;
  }

  .itemTitle {
    font-size: 20px;
  }
}