.contents {
  background-color: var(--blackBackground);
}
/* desktop */
@media (min-width: 1025px) {
  .contents {
    padding: 0 25%;
  }
}
/* tablet */
@media (max-width: 1024px) and (min-width: 481px) {
  .contents {
    padding: 0 15%;
  }
}
/* mobile */
@media (max-width: 480px) {
  .contents {
    padding: 0 8%;
  }
}