/* desktop */
@media (min-width: 1025px) {
  .spacer {
    height: 100px;
  }
}
/* tablet */
@media (max-width: 1024px) and (min-width: 480px) {
  .spacer {
    height: 80px;
  }
}
/* mobile */
@media (max-width: 480px) {
  .spacer {
    height: 60px;
  }
}