.content {
  background-color: var(--blackBackground);
  background-image: linear-gradient(rgba(30, 30, 40, 0.7) 1px, transparent 1px), linear-gradient(90deg, rgba(30, 30, 40, 0.7) 1px, transparent 1px);
  background-size: 2em 2em;
  transition: all 0.5s ease;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100vh;
}

.bottom {
  background-color: var(--blackBackground);
  transition: all 0.5s ease;
}

.content.reachedBottom, .bottom.reachedBottom{
  background-color: transparent !important;
  background-image: none !important;
}

/* desktop */
@media (min-width: 1025px) {
  .content {
    padding: 0 10%;
  }
}
/* tablet */
@media (max-width: 1024px) and (min-width: 481px) {
  .content {
    padding: 0 8%;
  }
}
/* mobile */
@media (max-width: 480px) {
  .content {
    padding: 0 6%;
  }
}