.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 80%;
}

.title, .date, .description {
  width: 100%;
}

.date {
  color: rgba(255, 255, 255, 0.7);
}

.backToNews {
  width: 100%;
  text-decoration: underline;
  text-underline-offset: 4px;
  display: flex;
  justify-content: flex-start;
}



@media (min-width: 1025px) {

  .container {
    padding: 8% 12%;
  }

  .title {
    margin-top: 40px;
    font-size: 42px;
  }

  .imageContainer {
    margin-top: 60px;
  }

  .date {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 10px;
  }

  .description {
    font-size: 20px;
    margin-top: 60px;
  }

  .reference {
    margin-top: 60px;
  }

}



@media (max-width: 1024px) and (min-width: 481px) {

  .container {
    padding: 16% 10%;
  }

  .title {
    margin-top: 30px;
    font-size: 32px;
  }

  .imageContainer {
    margin-top: 60px;
  }

  .date {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin-top: 10px;
  }

  .description {
    font-size: 18px;
    margin-top: 60px;
  }

  .reference {
    margin-top: 60px;
  }
}



@media (max-width: 480px) {

  .container {
    padding: 20% 10%;
  }

  .title {
    margin-top: 20px;
    font-size: 24px;
  }

  .imageContainer {
    margin-top: 60px;
  }

  .date {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin-top: 10px;
  }

  .description {
    font-size: 18px;
    margin-top: 40px;
  }

  .reference {
    margin-top: 40px;
  }
}