.container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.container.active .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(40deg) translateZ(0);
  opacity: 0.3;
}

.container.active .canvasContainer {
  opacity: 1;
  transform: translate3d(0%, -15%, 30px);
}

.canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.canvasWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
}

.buttonWrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.mask {
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 16px;
  border: 1px solid rgba(200, 200, 200, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.description {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 1025px) {
  .title {
    font-size: 24px;
  }
  .symbol {
    width: 130px;
    height: 130px;
  }
  .description {
    margin-top: 10px;
    font-size: 16px;
  }
  .button {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  .title {
    font-size: 22px;
  }
  .symbol {
    width: 130px;
    height: 130px;
  }
  .description {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 20px;
  }
  .symbol {
    width: 120px;
    height: 120px;
  }
  .description {
    font-size: 14px;
  }
}