.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-width: 5px;
	border-style: solid;
	border-image-slice: 1;
  transition: filter 0.5s ease-in-out;
}

.mask {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

.container:hover {
  filter: brightness(1.3);
}

.head, .body {
  z-index: 2;
}

.body {
  color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-top: 10px;
    font-size: 28px;
  }
  .body {
    margin-top: 30px;
  }
  .text {
    font-size: 16px;
  }
  .symbolWrapper {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1024px) and (min-width: 481px) {
  .container {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-top: 8px;
    font-size: 24px;
  }
  .body {
    margin-left: 30px;
  }
  .text {
    font-size: 16px;
  }
  .symbolWrapper {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 16px;
    display: flex;
    align-items: center;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-top: 6px;
    font-size: 20px;
  }
  .body {
    margin-left: 20px;
  }
  .text {
    font-size: 14px;
  }
  .symbolWrapper {
    width: 40px;
    height: 40px;
  }
}